* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7f6;
    color: #222;
}

header {
    background: #087f5b;
    color: white;
    text-align: center;
    padding: 25px 10px;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

header p {
    margin-bottom: 0;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

button {
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    background: #087f5b;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #055c42;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 25px;
}

.page {
    display: none;
}

#dashboard {
    display: block;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 18px;
    margin: 20px 0;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card h1 {
    font-size: 30px;
}

.panel {
    background: white;
    margin: 20px 0;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.panel h1 {
    font-size: 42px;
}

select {
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
}

.box-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 20px 0;
}

.zone {
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.hot {
    border-top: 7px solid #ff5722;
}

.cold {
    border-top: 7px solid #2196f3;
}

.moderate {
    border-top: 7px solid #ffb300;
}

.passport {
    max-width: 600px;
    margin: auto;
}

footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background: #087f5b;
    color: white;
}

@media(max-width: 700px) {

    header h1 {
        font-size: 25px;
    }

    .box-layout {
        grid-template-columns: 1fr;
    }

    main {
        padding: 15px;
    }

    nav button {
        width: 100%;
    }
}